# non-source directories
/dl
/bin
/build_*
/staging_dir_*
/toolchain_build_*

# build-related files
/.config*
/.tmpconfig.h
/oldconfig-*.log
/.cfg.sg-17r

# object files
*.o

# tmp files
*~

# executables
/package/config/conf
/package/config/mconf

# creates/removes at building
/package/config/lex.zconf.c
/package/config/lkc_defs.h
/package/config/zconf.tab.c
/package/config/zconf.tab.h

