#ifndef MR17S_MAIN_H
#define MR17S_MAIN_H

#include <linux/init.h>
#include <linux/module.h>
#include <linux/kernel.h>
#include <linux/sched.h>
#include <linux/ptrace.h>
#include <linux/fcntl.h>
#include <linux/slab.h>
#include <linux/delay.h>
#include <linux/timer.h>
#include <linux/random.h>
#include <linux/firmware.h>
#include <linux/vermagic.h>
#include <linux/config.h>

#include <asm/io.h>
#include <asm/types.h>
#include <asm/byteorder.h>
#include <asm/irq.h>
#include <asm/uaccess.h>

#include <linux/pci.h>
#include <linux/ioport.h>
#include <linux/interrupt.h>
#include <linux/dma-mapping.h>

#include <linux/tty.h>
#include <linux/tty_flip.h>
#include <linux/console.h>
#include <linux/serial.h>
#include <linux/serial_core.h>
#include <linux/proc_fs.h>

// DEBUG
#define DEBUG_ON 1
#define DEBUG_LEV 10

#define MS17E_V2_VER "0.1"

#define MS17E_V2_PCI_VEN 0x55
#define MS17E_V2_PORTS 8
#define MS17E_V2_PCI_DEV 0x93
#define MS17E_V2_MODNAME "@MS17E_V2_MODNAME@"
#define MS17E_V2_SERIAL_NAME "ttyFE"
#define MS17E_V2_SERIAL_MAJOR TTY_MAJOR
#define MS17E_V2_SERIAL_MINORS 128
#define MS17E_V2_UART_NR 32

#define MS17E_V2_UARTCLK 230400


#define MS17E_V2_IOMEM_SIZE 0x1000

/* bits descriptions of ms17e resiters */
// CRA
#define TXEN 0x01 // Transmitter Enable
#define RXEN 0x02 // Receiver Enable
#define LEDM 0x10 // Mode for Orange LEDs (0 - Eth Speed, 1 - PoE Status)
#define PRST 0x40 // Reset to PoE (0 - Reset, 1 - Normal operation)
#define ERST 0x80 // Reset to Ethernet PHY (0 - Reset, 1 - Normal operation)

// SR && IMR
#define TXS  0x01 // Transmit Success
#define RXS  0x02 // Rreceive Success
#define RXE  0x04 // Receive Error
#define PSU  0x08 // PoE Status Updated

// defines for led_control function
#define LINK          0
#define POWER         1
#define OFF           0
#define BLINK         1
#define FAST_BLINK    2
#define ON            3

#ifndef IO_READ_WRITE
#       define iowrite8(val,addr)  writeb(val,addr)
#       define iowrite16(val,addr)  writeb(val,addr)
#       define iowrite32(val,addr)  writel(val,addr)
#       define ioread8(addr) readb(addr)
#       define ioread16(addr) readb(addr)
#       define ioread32(addr) readl(addr)
#endif

struct ms17e_v2_regs_struct {
	u8 CRA, SR, IMR, reserved0, PSR, reserved2, TDR, RDR, LCR0, LCR1;
};

struct ms17e_v2_card {
	u8 number:3; // номер pci карты
	struct pci_dev *pdev;
	char card_name[12];  // имя карты (ms17e_v2_cardX)
	u8 if_num:4;
	u8 pwr_source:1;
	struct net_device *ndevs[8];
	struct ms17e_v2_regs_struct *regs;
	wait_queue_head_t wait_receive;
	wait_queue_head_t wait_transmit;
	struct proc_dir_entry *dev_dir_entry, *debug_entry;
	char * serial_buff;
	unsigned long serial_buff_write_pos;
	unsigned long serial_buff_read_pos;
	unsigned long serial_buff_size;
	unsigned long serial_tx, serial_tx_error, serial_rx, serial_rx_error;
	struct uart_port *port;
	u8 block_start_tx;
	u8 poe_status;
	struct proc_dir_entry *proc_entry;
	u8 tty_file_lock;
	char buf[1024];
	int buf_size;
	u8 tmp;
};

// Module initialization
static int  __devinit ms17e_v2_init(void);
static void  __devexit ms17e_v2_exit(void);
// PCI initialization
static int __devinit ms17e_v2_init_one(struct pci_dev *pdev,const struct pci_device_id *ent);
static void __devexit ms17e_v2_remove_one(struct pci_dev *pdev);

// UART functions
static void 		ms17e_v2_stop_tx(struct uart_port *port);
static void 		ms17e_v2_start_tx(struct uart_port *port);
static void 		ms17e_v2_stop_rx(struct uart_port *port);
static void 		ms17e_v2_enable_ms(struct uart_port *port);
static unsigned int ms17e_v2_get_mctrl(struct uart_port *port);
static void 		ms17e_v2_set_mctrl(struct uart_port *port, unsigned int mctrl);
static void 		ms17e_v2_break_ctl(struct uart_port *port, int break_state);
static void 		ms17e_v2_set_termios(struct uart_port *port,struct termios *new,struct termios *old);
static int 			ms17e_v2_startup(struct uart_port *port);
static void 		ms17e_v2_shutdown(struct uart_port *port);
static const char *	ms17e_v2_type(struct uart_port *port);
static void 		ms17e_v2_release_port(struct uart_port *port);
static int 			ms17e_v2_request_port(struct uart_port *port);
static void 		ms17e_v2_config_port(struct uart_port *port, int flags);
static int 			ms17e_v2_verify_port(struct uart_port *port, struct serial_struct *ser);
static unsigned int ms17e_v2_tx_empty(struct uart_port *port);
//static int 			ms17e_v2_ioctl(struct uart_port *port, unsigned int cmd, unsigned long arg);

static irqreturn_t 	ms17e_v2_interrupt(int irq,void *dev_id,struct pt_regs *regs);
static void 		ms17e_v2_recv_byte(struct uart_port *port,struct pt_regs *regs);
static void 		ms17e_v2_xmit_byte(struct uart_port *port);

#endif
