html, body {margin:0; padding:0; width:100%; height:100%;/* overflow:hidden;*/}

html {
	width: 100%;
	height: 100%;
	text-align: center;
}

html * {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
/*	background-image: url(../_img/136.gif);*/
	background-color: black;
	}

#mainmain {
	width: 100%;
	height: 100%;
	text-align: center;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: #666;
/*	border: 1px solid #0c0;*/
}

#top {
	height: 151px;
	background-image: url(../_img/header.jpg);
}

/* #################### CONTENT #################### */
#content {	
	width: 100%;
	background-image: url(../_img/header_grad.jpg);
	background-repeat: repeat-x;
	border: none;
}

#left {
	float: left;
	width: 210px;
	/*margin-top: 50px;*/
	text-align: left;
	/*border: 1px solid #c00;*/
}

#right {
	float: right;
	width: 770px;
	margin-top: 20px;
	text-align: left;
	/*border: 1px solid #00c;*/
}

#right ul.tabs-nav {
	/*background-color: #c00;*/
}

#right input.button {
	width: 80px;
	margin: 10px 0 0 261px;
	border: 1px solid #6c9;
}

/* --------------------- LEFT MENU ----------------------- */
#left_menu {
	margin: 46px 0px 0px 20px;
	padding: 10px;
	margin-bottom: 100px;
	background-image: url(../_img/menu_grad.jpg);
	background-repeat: repeat-x;
	text-align: left;
	color: #424242;
}

#shadow {
	width: 173px;
	height: 30px;
	margin-top: 10px;
	background-image: url(../_img/menu_shadow.jpg);
}

ul.treeview {
	background-color: #e1f0ff;
	border: 1px solid #0af;
}

ul.treeview li {
/*	margin: 1px 0;*/
	list-style: none;
	line-height: 25px;
	background-color: #a0d0ff;
	background-image: url(../_img/bg_arrow.jpg);
	background-position: 150px 7px;
	background-repeat: no-repeat;
}

ul.treeview li span {
	display: block;
	padding-left: 7px;
	border-top: 1px solid #0af;
	border-bottom: 1px solid #0af;
}

ul.treeview li li,
ul.treeview li li li,
ul.treeview li li li li,
ul.treeview li li li li li {
	margin: 0;
	background-color: #e1f0ff;
	background-image: none;
	border: 1px solid #e1f0ff;
}

ul.treeview li li span,
ul.treeview li li li span,
ul.treeview li li li li span,
ul.treeview li li li li li span {
	margin: 0;
	border: none;
}

ul.treeview li li span {
	padding-left: 14px;
}

ul.treeview li li li span {
	padding-left: 21px;
}

ul.treeview li li li li span {
	padding-left: 28px;
}

ul.treeview li li li li li span {
	padding-left: 35px;
}

/* ------------- TABLES ---------------- */
#conttable {
	width: 100%;
	/*margin: 10px 0 5px 0;*/
	border: 1px solid #000;
	border-bottom: none;
}

#conttable td {
   border-collapse: collapse;
	padding: 4px 0 4px 10px;
	border-bottom: 1px solid #000;
	background-color: #666;
}

#conttable p {
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	padding: 0;
}

#conttable td.tdleft {
	background-color: #898989;
	font-weight: bold;
	border-right: 1px solid #000;
	width: 240px;
}

#conttable th {
	height: 28px;
	padding: 0 0 0 10px;
	border: 0;
	background-image: url(../_img/table_head.png);
	border-bottom: 1px solid #000;
}

#conttable label.error {
	display: block;
	text-align: left;
	background-image: url(../_img/message2-small.jpg);
	background-position: 2%;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 30px;
	color: red;
}

#conttable label span {
	color:#aa0808;
	font-size: 120%;
	font-weight: bold;
}

#conttable input {
	width: 250px;
	padding: 2px 3px;
	font-size: 90%;
	border: 1px solid #6c9;
}

#conttable input.error {
	background-color: yellow;
}

#conttable textarea {
	width: 350px;
	padding: 2px 3px;
	font-size: 90%;
	color: #333;
	border: 1px solid #6c9;
}

#conttable input.check {
	width: 18px;
	border: none;
}

#conttable input.radio {
	width: 18px;
	border: none;
}

.message {
	display: none;
	margin-bottom: 10px;
	padding: 10px 10px 10px 60px;
	background-color: #444;
	color: #5cffff;
	text-align: left;
	background-position: 2%;
	background-repeat: no-repeat;
}

.error_message {
	background-image: url(../_img/message2.jpg);
}

.success_message {
	background-image: url(../_img/message1.jpg);
}

/* ---------- FOOTER ---------- */

#footer {
	clear: both;
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 11px;
	background-image: url(../_img/footer_bg.png);
}

#footer p {
	text-align: center;
	padding: 33px 0 36px 0;
}