#!/bin/bash

. /etc/templates/lib
show_header

get_dialin_ifaces

for i in $dialin_ifaces; do
    echo "port $i"
    echo "    speed `kdb get sys_dialin_${i}_speed`"
    echo "    rings `kdb get sys_dialin_${i}_rings`"
    echo "    data-only"
    echo "    init-chat `kdb get sys_dialin_${i}_initchat`"
done
