#!/bin/sh

# MR16G
mr16g_modname="@MR16G_MODNAME@"
mr16g_drvname="@MR16G_DRVNAME@"

# MR17H
mr17h_cfg="/sbin/@MR17H_TOOL@"
mr17h_modname="@MR17H_MODNAME@"
mr17h_drvname="@MR17H_DRVNAME@"

# MR16H
mr16h_cfg="/sbin/@MR16H_TOOL@"
mr16h_modname="@MR16H_MODNAME@"
mr16h_drvname="@MR16H_DRVNAME@"
