A IMG.TargetAlertIcon {
  display: none;
  width: auto                   !important;
  height: auto                  !important;
  float: none                   !important;
  padding: 0px                  !important;
  margin: 0px 0px -3px 5px      !important;
  z-index: 10                   !important;
  background-color: transparent !important;
  border: 0px                   !important;
  position: absolute            !important;
}

A:Hover IMG.TargetAlertIcon {
  display: inline               !important;
}
