#!/bin/sh

MR17H_MODNAME="@MR17H_MODNAME@"
MR17H_DRVNAME="@MR17H_DRVNAME@"

MR16H_MODNAME="@MR16H_MODNAME@"
MR16H_DRVNAME="@MR16H_DRVNAME@"

MR16G_DRVNAME="@MR16G_DRVNAME@"
MR16G_MODNAME="@MR16G_MODNAME@"

sg16_cfg_path="/sys/bus/pci/drivers/@MR16H_DRVNAME@"
sg17_cfg_path="/sys/class/net"

