body {
  font: 80% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background: transparent url(/images/bg2.gif) 0.5em 0px repeat;
  background-color: White;
  color: Black;
  margin: 0;
  padding: 0;
}

table {
  font-size: 100%;
  padding:5;
  margin:5;
}

tr,td,th {padding:3; margin:3; border-right:0; border-left:0;}

th { background-color: #E0E0E0; }

td {
  border-bottom: 1px solid #CCCCCC;
}

img {border:0}

p {padding:0; margin: 0 0 1.0em 0;}


form {
  border: none;
  margin: 0;
  display: inline;
}


label.simple {
  text-align: left;
  font-weight: normal;
}

label input.edit {
  width: 50%;
}

fieldset {
  width: 300px;
  text-align: center;
  border: 1px solid #8cacbb;
  padding: 0.5em;
}

a {
  color:#436976;
  text-decoration:none;
}

a:hover {
  color:#000000;
  text-decoration:underline;
}

textarea.edit {
  font-family:monospace;
  border: 1px solid #8cacbb;  
  color: Black;
  background-color: white;
  font-size:14px;
  padding: 3px;
  width:100%;
}

input.edit {
  font-size: 100%;
  border: 1px solid #8cacbb;
  height: 22px ! important;
  max-height: 22px ! important;
  min-height: 22px ! important;
  color: Black;
  background-color: white;
  vertical-align: middle;
  padding: 1px;
  display: inline;
}

input.button {
  border: 1px solid #8cacbb;  
  color: Black;
  background-color: white;
  vertical-align: middle;
  text-decoration:none;
  font-size: 100%;
  cursor: pointer;
  height: 22px ! important;
  max-height: 22px ! important;
  min-height: 22px ! important;
  margin: 1px;
  display: inline;
}

div.error{
  background: transparent url(/images/error.png) 0.5em 0px no-repeat;
  background-color: #ff6666;
  font-size: 90%;
  margin: 0px;
  padding-left: 3em;
  height: 16px;
}

div.info{
  background: transparent url(/images/info.png) 0.5em 0px no-repeat;
  background-color: #ffff66;
  font-size: 90%;
  margin: 0;
  padding-left: 3em;
  height: 16px;
}

div.success{
  background: transparent url(/images/thumbup.gif) 0.5em 0px no-repeat;
  background-color: #66ff66;
  font-size: 90%;
  margin: 0;
  padding-left: 3em;
  height: 16px;
}

/* general headline setup */
h1, h2, h3, h4, h5 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-left:    0;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    border-bottom: 1px solid #8cacbb;
    clear: left;
}

/* special headlines */
h1 {font-size: 160%; margin-left: 0px; font-weight: bold;}
h2 {font-size: 150%; margin-left: 20px;}
h3 {font-size: 140%; margin-left: 40px; border-bottom: none; font-weight: bold;}
h4 {font-size: 120%; margin-left: 60px; border-bottom: none; font-weight: bold;}
h5 {font-size: 100%; margin-left: 80px; border-bottom: none; font-weight: bold;}

/* unordered lists */
ul { 
  line-height: 1.5em;
  list-style-type: square;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0;
  list-style-image: url(images/bullet.gif);
}

/* ordered lists */
ol {
  line-height: 1.5em;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0;
  color: #638c9c;
  font-weight: bold;
  list-style-image: none;
}

/* code blocks by indention */
pre.pre {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #8cacbb;
  color: Black;
  background-color: #f7f9fa;
  overflow: auto;
  font-family: "Lucida Console","Courier New",Courier,monospace;
}

/* code blocks by code tag */
pre.code {
  font-size: 110%;
  padding: 0.5em;
  border: 1px dashed #8cacbb;
  font-family: "Lucida Console","Courier New",Courier,monospace;
  color: Black;
  background-color: #f7f9fa;
  font-size: 0.9em;
  overflow: auto;
}

/* Captions */

div.caption {
  width: auto;
  white-space: nowrap;
  height: 12px;
  margin: 0px;
  padding: 0px;
  background: transparent url(/images/cap_middle.png) repeat-x;
  text-align: center;
  vertical-align: top;
}
div.cap_left, div.cap_middle, div.cap_right {
  background-color: #DDDDDD;
  margin: 0px;
  padding: 0px;
  height: 22px;
}
div.cap_left{
  /*background: transparent url(/images/cap_left.png) no-repeat;*/
  width: 70px;
  position: relative;
  top: 0px; left: 0px; 
}
div.cap_middle{
  background: transparent url(/images/cap_middle.png) repeat-x;
  text-align: center;
  white-space: nowrap;
  /*width: auto;*/
}
div.cap_right{
  background: transparent url(/images/cap_right.png) no-repeat;
}

/* Settings */
table.inputTable {
  font-size: 100%;
  padding:10;
  margin:10;
  width:500;
}
th.inputTable, td.inputTable {
  padding:6;
  padding-left:8;
  padding-right:8;
  margin:10;
  border-bottom: 1px solid #CCCCCC;
}

label {
  font-weight: bold;
}
.tooltip tr,td,th {padding:0; margin:0; border:0; }

.inputDesc { font-size: 80%; }

/* Status */
tr.statusTrHeader, td.statusTdHeader {
  background-color: #E0E0E0; 
  font-weight: bold;
  font-size: 90%;
  padding:6;
  padding-left:8;
  padding-right:8;
  margin:10;
  border-bottom: 1px solid #CCCCCC;
}

tr.statusTrData, td.statusTrData {
  padding:6;
  padding-left:8;
  padding-right:8;
  margin:10;
  border-bottom: 1px solid #CCCCCC;
}


/* TMT validator */
input.invalid, textarea.invalid {
    background-color: #FFE813;
    border: 0.1em;
    border-color: #BB0000 !important;
    border-style: solid;
    margin: 0.1em !important;
}
input {
	margin: 0.1em;
}

input.invalid:focus, textarea.invalid:focus {
	background-color: #FFE813;
	border: 0.2em;
	border-color: #BB0000 !important;
	border-style: solid;
	margin: 0 !important;
}
/*
input:focus, textarea:focus {
	background-image: none;
	border: 0.2em;
	border-color: #7E9FDA;
	border-style: solid;
	margin: 0;
}
*/

.required {
	background-image: url(/images/required.gif);
	background-position: right;
	background-repeat: no-repeat;
}
